<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="mesas" [routerLink]="['/mesero/mesas']">
        <ion-icon name="grid-outline" />
        <ion-label>Mesas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tomar" [routerLink]="['/mesero/tomar']">
        <ion-icon name="restaurant-outline" />
        <ion-label>Tomar pedido</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="pedidos" [routerLink]="['/mesero/pedidos']">
        <ion-icon name="list-outline" />
        <ion-label>Pedidos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="perfil" [routerLink]="['/mesero/perfil']">
        <ion-icon name="person-circle-outline" />
        <ion-label>Perfil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
