<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [value]="activeTab" (ionChange)="changeTab($any($event.detail.value))">
      <ion-segment-button value="indicadores">
        <ion-label>Indicadores</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reportes">
        <ion-label>Reportes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (activeTab === 'indicadores') {
    <app-admin-dashboard-indicadores />
  } @else if (activeTab === 'reportes') {
    <app-admin-dashboard-reportes />
  }
</ion-content>
